Repository limbo-works/limbo-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
	"*.{js,vue,md,yml,css,json}": "prettier --write",
	"*.{js,vue}": "eslint --cache --fix",
	"*.{js,vue,md,yml,css,scss,json}": "prettier --write"
}

feat: init Umbraco Client nuxt module
  packages/umbraco-client/README.md
  packages/umbraco-client/client.js
  packages/umbraco-client/index.js
  packages/umbraco-client/package.json
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

chore: pass `--passWithNoTests` arg to Jest
  package.json
Due: prettier --write

chore: remove `.npmrc`
  .gitignore
  .npmrc
Due: none

chore(release): publish
  packages/umbraco-client/CHANGELOG.md
  packages/umbraco-client/package.json
Due: prettier --write

fix: no longer export meta
  packages/umbraco-client/index.js
Due: prettier --write, eslint --cache --fix

fix: revert module to CommonJs format
  packages/umbraco-client/index.js
Due: prettier --write, eslint --cache --fix

fix: read options from `nuxt` not `this`
  packages/umbraco-client/index.js
Due: prettier --write, eslint --cache --fix

refactor: revert to ES module format
  packages/umbraco-client/index.js
Due: prettier --write, eslint --cache --fix

docs: improve README.md
  packages/umbraco-client/README.md
Due: prettier --write

docs: update README.md
  packages/umbraco-client/README.md
Due: prettier --write

feat: init vue-responsive-image
  .eslintignore
  packages/vue-responsive-image/README.md
  packages/vue-responsive-image/babel.config.js
  packages/vue-responsive-image/dev/serve.js
  packages/vue-responsive-image/dev/serve.vue
  packages/vue-responsive-image/package.json
  packages/vue-responsive-image/src/entry.js
  packages/vue-responsive-image/src/errors.js
  packages/vue-responsive-image/src/vue-responsive-image.vue
  packages/vue-responsive-image/test/.eslintrc.js
  packages/vue-responsive-image/test/VueResponsiveImage.spec.js
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(release): publish
  packages/umbraco-client/CHANGELOG.md
  packages/umbraco-client/package.json
  packages/vue-responsive-image/CHANGELOG.md
  packages/vue-responsive-image/package.json
Due: prettier --write

feat!: change class name
  packages/vue-responsive-image/src/vue-responsive-image.vue
Due: prettier --write, eslint --cache --fix

feat: init vue-umbraco-image
  packages/vue-umbraco-image/README.md
  packages/vue-umbraco-image/babel.config.js
  packages/vue-umbraco-image/package.json
  packages/vue-umbraco-image/src/entry.js
  packages/vue-umbraco-image/src/mixin.js
  packages/vue-umbraco-image/src/utilities.js
  packages/vue-umbraco-image/src/vue-umbraco-image.vue
Due: prettier --write, eslint --cache --fix

test: update class name
  packages/vue-responsive-image/test/VueResponsiveImage.spec.js
Due: prettier --write, eslint --cache --fix

build: update lerna
  package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/vue-responsive-image/CHANGELOG.md
  packages/vue-responsive-image/package.json
  packages/vue-umbraco-image/CHANGELOG.md
  packages/vue-umbraco-image/package.json
Due: prettier --write

fix: add vue-responsive-image as dependency
  packages/vue-umbraco-image/package.json
Due: prettier --write

chore(release): publish
  packages/vue-umbraco-image/CHANGELOG.md
  packages/vue-umbraco-image/package.json
Due: prettier --write

fix(VueUmbracoImage): return value from `imageSizes`
  packages/vue-umbraco-image/src/utilities.js
Due: prettier --write, eslint --cache --fix

docs(VueUmbracoImage): add README
  packages/vue-umbraco-image/README.md
Due: prettier --write

refactor(UmbracoImage): remove mixin
  packages/vue-umbraco-image/src/mixin.js
  packages/vue-umbraco-image/src/utilities.js
  packages/vue-umbraco-image/src/vue-umbraco-image.vue
Due: prettier --write, eslint --cache --fix

feat(UmbracoClient): add router middleware
  packages/umbraco-client/middleware.js
Due: prettier --write, eslint --cache --fix

docs: update method and mutation names
  packages/umbraco-client/README.md
Due: prettier --write

refactor(UmbracoClient): remove middleware
  packages/umbraco-client/middleware.js
Due: prettier --write, eslint --cache --fix

refactor: pass `baseURL` to `axios.create()`
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

feat: inject `baseURL`
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

chore: add empty `dependencies`
  package.json
Due: prettier --write

chore: update caniuse database
  yarn.lock
Due: none

build: separate Rollup configs
  packages/vue-responsive-image/package.json
  packages/vue-umbraco-image/package.json
  rollup.config.js
  rollup.config.vue.js
Due: prettier --write, eslint --cache --fix
