Repository limbo-works/limbo-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore(Lerna): remove `allowBranch` restriction
  lerna.json
Due: prettier --write

chore(release): publish
  packages/vue-responsive-image/CHANGELOG.md
  packages/vue-responsive-image/package.json
  packages/vue-umbraco-image/CHANGELOG.md
  packages/vue-umbraco-image/package.json
Due: prettier --write

build: set target to `node >= 10`
  rollup.config.js
Due: prettier --write, eslint --cache --fix

feat(screens): initialise package
  packages/screens/README.md
  packages/screens/babel.config.js
  packages/screens/package.json
  packages/screens/src/index.js
Due: prettier --write, eslint --cache --fix

refactor(screens): remove utilities + rename vars
  packages/screens/src/index.js
Due: prettier --write, eslint --cache --fix

chore(release): publish
  packages/screens/CHANGELOG.md
  packages/screens/package.json
Due: prettier --write

feat(VueLimboLink): init package
  packages/vue-limbo-link/README.md
  packages/vue-limbo-link/babel.config.js
  packages/vue-limbo-link/package.json
  packages/vue-limbo-link/src/entry.js
  packages/vue-limbo-link/src/vue-limbo-link.vue
Due: prettier --write, eslint --cache --fix

chore(release): publish
  packages/vue-limbo-link/CHANGELOG.md
  packages/vue-limbo-link/package.json
Due: prettier --write

feat: initial setup
  packages/vue-nuxt-link-ext/README.md
  packages/vue-nuxt-link-ext/package.json
  packages/vue-nuxt-link-ext/src/NuxtLinkExt.vue
  packages/vue-nuxt-link-ext/src/entry.js
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(release): publish
  packages/vue-nuxt-link-ext/CHANGELOG.md
  packages/vue-nuxt-link-ext/package.json
Due: prettier --write

feat(umbraco-client): adding App_Plugins to proxy
  packages/umbraco-client/index.js
Due: prettier --write, eslint --cache --fix

chore: linting rules won't let me commit anything
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: moved vue-nuxt-link-ext as it isn't ready and ruins releasing
  wip-packages/vue-nuxt-link-ext/README.md
  wip-packages/vue-nuxt-link-ext/package.json
  wip-packages/vue-nuxt-link-ext/src/NuxtLinkExt.vue
  wip-packages/vue-nuxt-link-ext/src/entry.js
Due: prettier --write, eslint --cache --fix

chore(release): publish
  packages/umbraco-client/CHANGELOG.md
  packages/umbraco-client/package.json
Due: prettier --write

fix: reinstated husky commands
  .husky/commit-msg
  .husky/pre-commit
  yarn.lock
Due: none

feat(umbraco-client): now handles 200 meta codes
  packages/umbraco-client/client.js
Due: prettier --write, eslint --cache --fix

chore: added comment
  packages/umbraco-client/client.js
Due: prettier --write, eslint --cache --fix

chore: comment change
  packages/umbraco-client/client.js
Due: prettier --write, eslint --cache --fix

chore: updated README.md
  README.md
Due: prettier --write

chore: linting
  README.md
Due: prettier --write

feat: add onResponse to get data
  packages/umbraco-client/client.js
Due: prettier --write, eslint --cache --fix

feat: added plop
  package.json
  plopfile.js
  templates/npmrc/npmrc.hbs
  templates/package/babel.config.hbs
  templates/package/dev/serve-js-entry.hbs
  templates/package/dev/serve-js.hbs
  templates/package/dev/serve-vue-entry.hbs
  templates/package/dev/serve-vue.hbs
  templates/package/package-js.hbs
  templates/package/package-vue.hbs
  templates/package/readme-js.hbs
  templates/package/readme-vue.hbs
  templates/package/src/_js.hbs
  templates/package/src/_vue.hbs
  templates/package/src/entry.hbs
  templates/package/test/eslintrc.hbs
  templates/package/test/spec.hbs
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: added issue template for packages
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-package.md
  .github/ISSUE_TEMPLATE/package.md
Due: prettier --write

chore: removed duplicate issue template
  .github/ISSUE_TEMPLATE/package.md
Due: prettier --write

chore: linting
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-package.md
Due: prettier --write

chore: updated lerna to `v5.5.0`
  package.json
  yarn.lock
Due: prettier --write

chore: added `yarn test` to pre-commit husky check
  .husky/pre-commit
Due: none

chore: updated node-version in `ci.yml` to `v14`
  .github/workflows/ci.yml
Due: prettier --write

feat: added plop (#16)
  package.json
  plopfile.js
  templates/npmrc/npmrc.hbs
  templates/package/babel.config.hbs
  templates/package/dev/serve-js-entry.hbs
  templates/package/dev/serve-js.hbs
  templates/package/dev/serve-vue-entry.hbs
  templates/package/dev/serve-vue.hbs
  templates/package/package-js.hbs
  templates/package/package-vue.hbs
  templates/package/readme-js.hbs
  templates/package/readme-vue.hbs
  templates/package/src/_js.hbs
  templates/package/src/_vue.hbs
  templates/package/src/entry.hbs
  templates/package/test/eslintrc.hbs
  templates/package/test/spec.hbs
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat(umbraco-client): app_host fallback to req host
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

fix(umbraco-client): better warning and error
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

chore: minor comment change
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

feat: changed internal use of hostname to be host instead
  packages/umbraco-client/client.js
  packages/umbraco-client/templates/plugin.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,vue,md,yml,css,json}) or (any of: *.{js,vue,md,yml,css,scss,json})
  eslint --cache --fix: any of: *.{js,vue}
